# Sentiment analysis to detect political opinions from #Elysee2017fr database

In [18]:
from textblob_fr import TextBlob
from IPython.display import Markdown, display

see : https://towardsdatascience.com/analyzing-tweets-with-nlp-in-minutes-with-spark-optimus-and-twint-a0c96084995f


https://github.com/sloria/textblob-fr


https://buildmedia.readthedocs.org/media/pdf/textblob/dev/textblob.pdf

In [80]:
from textblob import TextBlob
from textblob_fr import PatternTagger, PatternAnalyzer
text = u"Quelle belle matin√©e"
blob = TextBlob(text, pos_tagger=PatternTagger(), analyzer=PatternAnalyzer())
blob.sentiment

(0.8, 0.8)

In [1]:
import pandas as pd
import numpy as np

In [2]:
dfprofiles_clean=pd.read_csv('C:/Users/adrie/Documents/Centrale/G3/DATA/Projet integ/Projet_Travail/Donnees_clean/twitter/utilisateurs/profiles_annotations.csv')

In [3]:
dfprofiles_clean.head()

   FROM_USER_ID PROFILE_NATURE PARTY  MEDIA_PROFESSIONAL SEX
0    1264925822     individual    fi                 0.0   f
1    1265204928     individual    fi                 0.0   f
2    1265310602     individual    fi                 0.0   m
3    1265661672     individual    fi                 0.0   m
4    1267543572     individual    fi                 0.0   m

In [4]:
dfprofiles_clean.PARTY.value_counts()

fi       5113
lr       4366
em       3962
fn       3376
ps       1832
fi/ps     228
fn/lr     211
em/ps     151
em/lr     148
em/fi      33
fi/fn      22
fi/lr       4
fn/ps       3
lr/ps       2
em/fn       1
Name: PARTY, dtype: int64

In [5]:
dfprofiles_clean.PARTY.iloc[0:5113].unique()

array(['fi', 'ps'], dtype=object)

In [13]:
print(dfprofiles_clean[dfprofiles_clean['FROM_USER_ID']==2800514368].index.values)

[18987]

In [10]:
dfprofiles_clean.shape

(19452, 5)